[font="header"] {
  font-family: micradi, sans-serif;
}
[font="pxa"] {
  font-family: pxa, sans-serif;
}
[margin="0 1"] {
  margin: 0 1rem;
}
[margin="1 0"] {
  margin: 1rem 0;
}
@font-face {
  font-family: "pxa";
  src: url("assets/pxa_2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "micradi";
  src: url("assets/micradi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: +0.5px;
  color: #636363;
}
[wrapper] p {
  // text-indent: 3rem;
  margin: 0.6rem 0;
  // margin: 0;
}
[wrapper] ul {
  margin: 0;
  padding: 0;
}
[content] ul {
  margin-left: 2rem;
}
[content] h2 {
  margin: 0.5rem 0;
}

[wrapper] {
  max-width: 70rem;
  margin: 0 auto;
}
[flex] {
  display: flex;
  flex-direction: column;
}
[column] {
  flex-direction: column;
  flex: 0 1 10rem;
}
[row] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
[grow] {
  flex-grow: 1;
}
[shrink] {
  flex-shrink: 1;
}
[center="right"] {
  justify-content: flex-end;
}
[center="both"] {
  align-content: center;
  justify-content: center;
  align-items: center;
}
[list="none"] {
  list-style: none;
  padding: inherit;
}
[text="right"] {
  text-align: right;
}
[text="center"] {
  text-align: center;
}

[relative] {
  position: relative;
}
[absolute] {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 0;
}

[position] > span {
  position: absolute;
  z-index: 5;
  padding: 1rem;
  background-color: #ffffffb0;
  color: black;
  border: 1px solid white;
  min-width: 7rem;
  text-align: center;
}

[position="topright"] > span {
  top: 0;
  right: 0;
}
[position="topleft"] > span {
  top: 0;
  left: 0;
}

[position="bottomright"] > span {
  bottom: 0;
  right: 0;
}
[blockymenu] li {
  padding: 3rem 2rem;
  margin: 0.5rem;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
}
[blockymenu] li::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border: solid 3px;
}
[shade] > a {
  text-decoration: none;
  color: inherit;
}
span[description] {
  display: none;
}
span[icon] {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
}

span[icon="map"] {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0,0,16,16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14,7c0,1.66-.67,3.16-1.76,4.24-1.08,1.09-3.64,2.66-3.79,4.31-.02.25-.2.45-.45.45s-.43-.2-.45-.45c-.15-1.65-2.71-3.22-3.79-4.31C2.67,10.16,2,8.66,2,7,2,3.69,4.69,1,8,1s6,2.69,6,6zM8,9.1c1.16,0,2.1-.94,2.1-2.1S9.16,4.9,8,4.9,5.9,5.84,5.9,7,6.84,9.1,8,9.1z'/%3E%3C/svg%3E");
}
span[icon="telegram"] {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0,0,240,240' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m240,120c0,66.27-53.73,120-120,120S0,186.27,0,120,53.73,0,120,0,240,53.73,240,120zm-195.95,9.71s12.14,4.16,22.54,7.28,15.95-.35,15.95-.35l48.9-32.95c17.34-11.79,13.18-2.08,9.02,2.08-9.02,9.02-23.93,23.24-36.42,34.68-5.55,4.86-2.77,9.02-.35,11.1,9.02,7.63,33.64,23.24,35.03,24.28,1.73,1.39,11.45,7.63,17.34,6.24s6.59-9.36,6.59-9.36l8.67-54.45c2.78-18.38,5.55-35.38,5.9-40.23,1.04-11.79-11.45-6.94-11.45-6.94s-27.05,11.1-35.03,14.57l-80.8,33.3c-14.22,5.55-5.9,10.75-5.9,10.75z'/%3E%3C/svg%3E");
}
span[icon="phone"] {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='119.22,112.88,283.21,277.69' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m238.09,181.03c6.17,7.25-21.38,31.64-25.22,37.88-1.21,1.97,51.23,57.44,80.23,76.32,5.59,3.64,23.73-17.03,32.85-18.73,4.21-.79,72.57,56.02,76.32,63.85,3.14,6.58-39.37,41.29-53.31,47.97-13.76,6.6-58.56-3.19-64.59-5.32-84.48-29.74-155.57-110.08-164.79-200.17-1.18-11.5.38-24.48,7-33.96,13.38-19.15,30.17-28.88,38.73-35.76,5.13-4.12,54.36,46.27,72.78,67.91z' stroke='%23000'/%3E%3C/svg%3E");
}
span[icon="time"] {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0,.61,474,472.39' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m30.59,189.38c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm15.13-46.02c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zM70.79,101.4c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm33.17-34.91c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm39.88-27.81c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm45.53-17.45c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm47.65-8.62c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm138.52,38.11c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm-43.25-22.51c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zm-46.98-13.24c0,6.63-5.37,12-12,12s-12-5.37-12-12,5.37-12,12-12,12,5.37,12,12zM108.5,246.5c-3-1.67-5.27-5.66-5.27-9.33s2.28-6.73,5.02-7.76c2.46-.93,78.28-4.06,93.84-4.7,5.25-14.85,19.3-25.48,35.79-25.48,5.57,0,10.86,1.21,15.63,3.39,9.94-9.21,80.05-76.25,83.52-78.47,3.67-2.33,8.12.75,9.79,2.08s3.35,4.6,3.68,8.27c.32,3.5-68.72,74.29-78.97,85.27,2.78,5.34,4.35,11.42,4.35,17.87,0,21.21-17.01,38.41-38,38.41-16.83,0-31.1-11.06-36.1-26.38-15.13-.3-90.59-1.67-93.29-3.17zm129.39-22.97c-7.73,0-14,6.32-14,14.11s6.27,14.11,14,14.11,14-6.32,14-14.11-6.27-14.11-14-14.11zM474,236.5c0,130.89-106.11,237-237,237S0,367.39,0,236.5c0-1.49.01-2.98.04-4.46,8.56-2.97,12.3-4.05,24.03-.92-.05,1.79-.07,3.58-.07,5.38,0,117.64,95.36,213,213,213s213-95.36,213-213c0-60.07-24.86-114.32-64.86-153.05,2.79-13.62,3.79-14.2,13.96-19.85,46.1,43.25,74.9,104.71,74.9,172.9z'/%3E%3C/svg%3E");
}
span[icon="vkontakte"]{
	background-image: url("data:image/svg+xml,%3Csvg viewBox='5 5 192 192' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.6 5h58.9C184.3 5 197 17.8 197 71.6v58.9c0 53.8-12.8 66.5-66.6 66.5H71.5C17.7 197 5 184.2 5 130.4V71.5C5 17.8 17.8 5 71.6 5Zm90.6 66.1c.9-3 0-5.1-4.2-5.1h-14a6 6 0 0 0-6.1 4s-7.1 17.4-17.2 28.6c-3.3 3.3-4.7 4.3-6.5 4.3-.9 0-2.2-1-2.2-4V71.1c0-3.6-1-5.1-4-5.1H86c-2.2 0-3.6 1.7-3.6 3.2 0 3.4 5 4.2 5.6 13.6v20.6c0 4.5-.8 5.3-2.6 5.3-4.7 0-16.3-17.4-23.1-37.4-1.4-3.7-2.7-5.3-6.3-5.3H42c-4 0-4.8 1.9-4.8 4 0 3.7 4.7 22.1 22.1 46.4C70.9 133 87.2 142 102 142c8.9 0 10-2 10-5.4V124c0-4 .8-4.8 3.7-4.8 2.1 0 5.6 1 13.9 9 9.5 9.5 11.1 13.8 16.4 13.8h14c4 0 6-2 4.8-5.9a62.3 62.3 0 0 0-11.8-16.4c-3.3-3.9-8.2-8-9.6-10.1-2.1-2.7-1.5-3.9 0-6.2 0-.1 17.1-24.1 18.8-32.3Z'/%3E%3C/svg%3E");
}
span[icon="price"]{
	background-image: url("data:image/svg+xml,%3Csvg viewBox='9152 7732 3260 3260' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12412 9362c0 9e2-730 1630-1630 1630s-1630-730-1630-1630 730-1630 1630-1630 1630 730 1630 1630zm-2410 42h138v275h-138v276h138v688h275v-688h826v-275h-826v-275h757c344 0 619-275 619-619s-275-619-619-619h-1032v963h-138zm1514-619c0 190-154 344-344 344h-757v-688h757c190 0 344 154 344 344z' fill='%232b2a29'/%3E%3C/svg%3E");
}


[width="100%"] {
  width: 100%;
}

[column] > img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
img.main-logo {
  max-height: 8rem;
  object-fit: contain;
  object-position: left;
}
[logo] a {
  text-decoration: none;
  color: inherit;
}
[menu] {
  background-color: #a52a2ab8;
}

[hide="wide"] {
  display: none;
}


@media (max-width: 42rem) {
  [column] {
    flex: 1 1 50%;
  }
  [wrapper] {
    padding: 1rem;
  }
  [logo] [text="right"] {
    text-align: inherit;
    // margin: 2rem 0;
  }
  [blockymenu] li {
    padding: 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  [logo] ul > li {
    padding: 0.4rem 0;
  }

  [hide="mobile"] {
    display: none;
  }
  [hide="wide"] {
    display: inherit;
  }
}

@media (max-width: 47rem) {
  img.main-logo {
    max-height: 6rem;
  }

  [column][position] > img {
    display: none;
  }

  [position] > span {
    position: relative;
    z-index: inherit;
    padding: inherit;
    display: none;
  }
}
